<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome</title>
		<meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
	</head>
	<body>
        <div id="wrapper">
       <div id="wrapper_first">
        <div id="header">
            <h2>Outside Resto</h2>
        </div>
        <nav class="fill">
               
                <ul>    
                       
                           <li><a href="./">Home</a></li>
                       
                            <li><a href="about_us/">About us</a></li>
                            <li><a href="locations/">Locations</a></li>
                        
                            <li><a href="pictures/">Pictures</a></li>
                            <li><a href="comments/">Comments</a></li>
                                            
                 </ul>
                 
        </nav>
        </div>
        <div id="gridbox">
         <div id=background>
            <img src="images/dish-918613_1920.jpg">
        </div>
        
            <div class="text1">
            <h2>If we you like fruits, then believe us we are Fineapples</h2>  
            </div>
            <div class="text2">
            <h2>If you don’t lick your fingers, enjoy only half</h2>  
            </div>
            <div class="text3">
            <h2>Experience the great food, right</h2>  
            </div>
        </div>.
        
        
        <nav style="background-color: white;" class="fill">
               <h2 >Login if you are already onboard, otherwise join our team</h2>
                <ul >
                        <li  style="border: 1px solid" ><a style="color: black" href="login/">Login</a></li>
                        <li style="border: 1px solid" ><a style="color: black" href="join/">Join</a></li>
                        
                 </ul>
        </nav>
        
        
        
        
        
        
        
<!--
        <div id="login">
            <h2>Employee Login</h2>
            <button type="button" class="button1"><a href="login/">Login</a></button>  
        </div>
        <div id="join">
            <h2>Join the best restuarent ever in this woorld. we have locations all over the world.</h2>
            <button type="button" class="button1"><a href="join/">Join</a></button>  
        </div>
-->
           <h2 style="text-align: center;">Some of our restuarants</h2>
            <div id="locations">
               
                <div class="locs"><img src="images/locations/innsbruck-111596_1920.jpg"></div>
                <div class="locs"><img src="images/locations/restaurant-2625587_1920.jpg"></div>
            </div>
           <footer><p>Copyright 2018 Jaspreet Singh</p></footer>
        </div>
    </body>
</html>